[run]
branch = True
include =
    ./*
omit =
    .*
    venv/*
    */tests*
    */migrations/*
    project/environments/*
    .git
    conf/*
    *_test.py

[report]
#skip_covered = True

[html]
directory = .coverage_html
